:root {
  --primary-color: rgba(47, 112, 175, 1);
  --visited-link: rgba(128, 100, 145, 1);
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
/*font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
*/

h1,
h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-align: center;
  color: rgba(47, 112, 175, 1);
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 24px;
}

.hero-wrapper {
  background-image: url("/images/hero-overlay.JPG");

  height: 265px;
  background-size: cover;
  margin-bottom: 100px;
}

.hero-wrapper h1 {
  padding-top: 85px;
}

.home-page-content {
  margin: 0 auto;
  max-width: 1304px;
  padding: 0px 57px;
}

.home-page-content a {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: var(--primary-color);
}
.home-page-content a:hover {
  text-decoration: underline;
}

.favorite-recipes {
  margin: 0 auto;
  max-width: 1304px;
  padding: 0px;
}

/*Small device friendly*/
@media (max-width: 600px) {
  h1 {
    font-size: 57px;
  }
  h2 {
    font-size: 24px;
  }
  .home-page-content a {
    font-size: 23px;
  }
  .hero-wrapper {
    margin-bottom: 60px;
  }
}

@media (max-width: 567px) {
  h1 {
    font-size: 48px;
  }
  .hero-wrapper {
    margin-bottom: 70px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  .hero-wrapper {
    margin-bottom: 55px;
  }
}
