@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
/*font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
*/

h1,
h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  padding-top: 85px;
  font-size: 72px;
}
h2 {
  font-size: 24px;
}

.hero-wrapper {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/images/hero-overlay.JPG");

  height: 265px;
  background-size: cover;
  margin-bottom: 100px;
}

.container {
  margin: 0 auto;
  max-width: 1304px;
  padding: 0px 57px;
}

.container a {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: black;
}
.container a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  h1 {
    font-size: 57px;
  }
  h2 {
    font-size: 24px;
  }
  .container a {
    font-size: 23px;
  }
  .hero-wrapper {
    margin-bottom: 60px;
  }
}

@media (max-width: 567px) {
  h1 {
    font-size: 48px;
  }
  .hero-wrapper {
    margin-bottom: 70px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  .hero-wrapper {
    margin-bottom: 55px;
  }
}
