:root {
  --primary-color: rgba(1, 83, 157, 1);
  --secondary-color: rgb(39, 33, 66);
  --background-color: rgba(238, 164, 127, 0.2);
  --accent-color: rgba(238, 164, 127, 1);
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  font-weight: bold;
  text-align: center;
  color: rgba(47, 112, 175, 1);
}

h1 {
  font-size: 72px;
  padding-top: 16px;
}
h2 {
  font-size: 24px;
}

/*Navigation*/

.navigation {
  padding-top: 32px;
  padding-bottom: 35px;
}

.navigation .name,
.navigation .name:hover {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 700;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation ul li {
  padding: 6px 25px;
}

.navigation a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  transition: all 100ms ease-in-out;
}

.navigation a:hover,
.navigation li.active a {
  color: var(--primary-color);
}

/*Home Page*/
.hero-wrapper {
  background-image: url("/images/hero-overlay.JPG");

  height: 265px;
  background-size: cover;
  margin-bottom: 100px;
}

.recipe-collection-title {
  padding-top: 85px;
}

.home-page-content {
  margin: 0 auto;
  max-width: 1304px;
  padding: 0px 57px;
}

.home-page-content a {
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: var(--primary-color);
}

.home-page-content a:hover {
  text-decoration: underline;
}

/*About Page*/

.background {
  background-color: var(--background-color);
}

.favorite-recipes-title {
  font-size: 36px;
}

.favorite-recipes-content {
  margin: 0 28px;
}

.favorite-recipes-content a {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: var(--primary-color);
}

.favorite-recipes-content a:hover {
  text-decoration: underline;
}

.favorite-recipes-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.my-picture {
  margin-top: 90px;
  margin-bottom: 100px;
}

.about-me-content h2 {
  margin-top: 152px;
  font-size: 64px;
  line-height: 87px;
  text-align: left;
}

.about-me-content p {
  text-align: left;
  margin-right: 190px;
  font-size: 18px;
}

.follow-me {
  text-align: left;
}

.follow-me span {
  font-weight: 700;
}

.follow-me .icon {
  padding: 20px;
}

.follow-me a {
  text-decoration: none;
  color: var(--primary-color);
}

/*Recipes Page*/

.recipes-wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.recipes-wrapper h2 {
  font-size: 36px;
  text-align: left;
}

.recipes-wrapper h3 {
  font-size: 24px;
  color: var(--secondary-color);
}

.recipes-wrapper .steps {
  color: var(--accent-color);
  font-weight: 700;
}

.recipes-wrapper hr {
  border: 1px dashed var(--primary-color);
}

/*Contact Page*/

.contact-me-content ul {
  margin-top: 152px;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

.contact-me-content .icons {
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  margin-right: 25px;
  margin-top: 18px;
  margin-bottom: 35px;
}

.contact-type {
  color: var(--accent-color);
}

.contact-links {
  text-decoration: none;
  color: var(--primary-color);
}

.contact-links:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

/*Footer */

.footer-wrapper {
  background-color: var(--background-color);
  background-size: cover;
}

.footer {
  padding: 32px 130px 30px 120px;
}

.footer .name,
.footer .name:hover {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}

/*Small device friendly*/

@media (max-width: 992px) {
  .my-picture {
    margin-top: 75px;
    margin-bottom: 0;
  }

  .about-me-content h2 {
    margin-top: 85px;
    font-size: 50px;
    line-height: 87px;
    text-align: center;
  }

  .about-me-content,
  .follow-me {
    text-align: center;
  }
  .about-me-content p {
    text-align: center;
    margin: 0 auto;
  }

  .favorite-recipes-content {
    text-align: center;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 57px;
  }
  h2 {
    font-size: 24px;
  }
  .home-page-content a {
    font-size: 23px;
  }
  .hero-wrapper {
    margin-bottom: 60px;
  }

  .my-picture {
    margin-top: 75px;
    margin-bottom: 0;
  }

  .about-me-content h2 {
    margin-top: 85px;
    font-size: 50px;
    line-height: 87px;
    text-align: center;
  }

  .about-me-content,
  .follow-me {
    text-align: center;
  }
  .about-me-content p {
    text-align: center;
    margin: 0 auto;
  }

  .favorite-recipes-content {
    text-align: center;
  }

  .recipes-wrapper {
    padding: 20px;
  }
}

@media (max-width: 567px) {
  h1 {
    font-size: 48px;
  }
  .hero-wrapper {
    margin-bottom: 70px;
  }

  .navigation ul li {
    padding: 6px 10px;
  }
  .contact-me-content {
    text-align: center;
  }
  .contact-me-content ul {
    margin-top: 50px;
  }

  .my-picture {
    margin-top: 45px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  .hero-wrapper {
    margin-bottom: 55px;
  }
  .navigation .name {
    font-size: 20px;
  }

  .navigation ul li {
    padding: 4px 8px;
  }

  .about-me-content h2 {
    margin-top: 75px;
    font-size: 45px;
    line-height: 87px;
    text-align: center;
  }
  .contact-me-content {
    text-align: center;
  }

  .contact-me-content ul {
    margin-top: 50px;
  }

  .contact-me-content {
    text-align: center;
  }
  .contact-me-content ul {
    margin-top: 50px;
  }

  .my-picture {
    margin-top: 45px;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  .hero-wrapper {
    margin-bottom: 35px;
  }
  .home-page-content a {
    font-size: 16px;
  }

  .name {
    visibility: hidden;
  }

  .navigation ul li {
    padding: 3px 2px;
  }
  .my-picture {
    margin-top: 55px;
    margin-bottom: 0;
  }

  .about-me-content h2 {
    margin-top: 60px;
    font-size: 35px;
    line-height: 87px;
    text-align: center;
  }

  .about-me-content,
  .follow-me {
    text-align: center;
  }

  .follow-me .icon {
    padding: 15px;
  }

  .about-me-content p {
    text-align: center;
    margin: 0 auto;
  }

  .favorite-recipes-content {
    text-align: center;
  }

  .favorite-recipes-title {
    font-size: 30px;
  }
  .contact-me-content ul {
    margin-top: 50px;
  }
}
